.contacts{
    &__wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
        
    }
}
.contacts-list{
    padding-right: 90px;
    &__item{
        margin-bottom: 30px;
        &:last-child{
            margin-bottom: 0;
        }
    }
    &__inner{
        display: flex;
        align-items: center;
        
    }
    &__img{
        margin-right: 20px;
    }
    &__text{
        max-width: 290px;
    }

}
