
.geo {
    &__title {
        margin-top: 100px;
        margin-bottom: 50px;
        
    }

    &__wrapper {
        display: flex;
        // justify-content: space-between;
        column-gap: 162px;
        align-items: center;
        @include breakpoint(lg){
            column-gap: 40px;
            justify-content: space-between;
        }
        @include breakpoint(md){
            display: block;
        }
    }
    &__img{
        width: 100%;
        height: auto;
        display: block;

    }
    &__image{
        max-width: 688px;
        @include breakpoint(md){
            // display: none;
            margin-bottom: 40px;
        }
    }
}

.geo-countries {
    // padding-right: 190px;
    padding-left: 10px;
    &__list {
        display: flex;
        flex-direction: column;
        row-gap: 24px;
    }
    &__title{
        margin-bottom: 20px;
        max-width: 603px;
        font-size: 24px;
        line-height: 108%;
        font-family: "ptsans";
        font-weight: 700;
        @include breakpoint(lg){
            font-size: 20px;
        }
    }
    &__item {
        display: flex;
        column-gap: 15px;
        align-items: center;
        
    }
    &__item > svg{
        flex-shrink: 0;
    }
    &__text{
        line-height: 108%;
        max-width: 638px;
        @include breakpoint(lg){
            font-size: 18px;
        }
    }
    &__link{
        text-decoration: underline;
        color: $blue;
    }
}