.header{
    position: sticky;
    top: 0;
    // padding: 20px 0;
    z-index: 5;
    box-shadow: 0px -2px 15px rgba(0, 0, 0, 0.18);
    &__wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        z-index: 3;
    }
    &__back{
        background-color: $white;
        height: 100%;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 2;
        position: absolute;
    }
    &__logo{
        max-height: 92px;
    }
    &__nav{
        @include w1280{
            display: none;
        }
    }
    
}
.header__container{
    position: relative;
    padding: 20px 20px;
    
}
.header-nav{
    display: flex;
    column-gap: 80px;
    &__item{
        color: $grey;
        transition: all .2s linear;
        border-bottom: 2px solid rgba(0, 75, 169, 0);
        &:hover{
            color: $blue;
            
            font-weight: 500;
            // border-color: rgba(0, 75, 169, 0);
        }
    }
    &__item--active{
            color: $blue;
            font-weight: 500;
            border-color: rgba(0, 75, 169, 1);
    }
    &__link{
        
        color: inherit;
        text-transform: uppercase;
        padding-bottom: 4px;
        font-family: 'raleway';
        font-weight: 500;
        line-height: 108.19%;
        
    }
  
    &__btn{
        width: 15px;
        height: 14px;
        mask-image: url("../img/header/arrow.svg");
        mask-position: center;
        mask-repeat: no-repeat;
        transition: background-color .3s linear,
        transform .3s linear;
        background-color: $grey;
        &:hover{
            background-color: $blue;
        }
        vertical-align: center;
        
    }
    &__btn--active{
        transform: rotate(180deg);
    }
    

}
.header-nav__item--active .header-nav__btn,
.header-nav__item:hover .header-nav__btn{
    background-color: $blue;
}
