.header{
    position: sticky;
    top: 0;
    width: 100%;
    background-color: white;
    // padding: 20px 0;
    z-index: 5;
    box-shadow: 0px -2px 15px rgba(0, 0, 0, 0.18);
    &__wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        z-index: 3;
    }
    &__back{
        background-color: $white;
        height: 144%;
        top: -20px;
        left: 0;
        width: 100%;
        z-index: 2;
        position: absolute;

        @include w1280{
            display: none;
        }
    }
    &__logo{
        z-index: 3;
        max-height: 92px;
        
    }
    &__img{
        @include breakpoint(xs){
            max-width: 200px;
        }
    }
    &__nav{
        @include w1280{
            z-index: 1;
            position: absolute;
            top: 0;
            transform: translateY(-100%);
            // transform: translateX(104%);
            // display: flex;
            justify-content: center;
            width: 100%;
            background-color: white;
            transition: all .3s ease-in;
            border-top: 6px solid $blue;
            padding: 20px 0 10px 0px;
            text-align: left;
            // display: flex;
            // align-items: center;
            // flex-direction: column;
            overflow: auto;
        }
    }
    &__nav--active{
        // transform: translateX(0);
        transform: translateY(0);
        top: 122%;
        z-index: 1;
        
    }
    &__nav--active--2{
        @include w1280{
        min-height: 400px;
        height: 100%;
        overflow: auto;
        }
    }
    
}
.header__container{
    position: relative;
    padding: 20px 20px;
    
}
.header-nav{
    display: flex;
    align-items: center;
    column-gap: 80px;
    @include w1280{
        display: block;
        // display: flex;
        // flex-direction: column;
        // align-items: left;
    }
    &__back{
        width: 100%;
        height: calc(100% + 40px);
        top: -20px;
        background-color: white;
        z-index: 2;
        position: absolute;
    }
    &__item{
        @include w1280{
            margin-bottom: 10px;
            margin-left: 60px;
        }
        z-index: 3;
        max-width: fit-content;
        color: $grey;
        transition: all .2s linear;
        border-bottom: 2px solid rgba(0, 75, 169, 0);
        &:hover{
            color: $blue;
            
            font-weight: 500;
            // border-color: rgba(0, 75, 169, 0);
        }
    }
    &__item--active{
            color: $blue;
            font-weight: 500;
            border-color: rgba(0, 75, 169, 1);
    }
    &__item--extends{
        display: flex;
        align-items: center;
        // justify-content: center;
        // align-items: end;
    }
    &__item--extends a{
        padding-bottom: 0;
    }
    &__link{
        
        color: inherit;
        text-transform: uppercase;
        padding-bottom: 4px;
        font-family: 'raleway';
        font-weight: 500;
        line-height: 108.19%;
        
    }
  
    &__btn{
        display: inline-block;
        letter-spacing: 0;
        width: 26px;
        height: 26px;
        // margin-left: 5px;
        mask-image: url("../img/header/arrow.svg");
        mask-position: center;
        mask-repeat: no-repeat;
        transition: background-color .3s linear,
        transform .3s linear;
        background-color: $grey;
        &:hover{
            background-color: $blue;
        }
        vertical-align: middle;
        
    }
    &__btn--active{
        transform: rotate(180deg);
    }
    

}
.header-nav__item--active .header-nav__btn,
.header-nav__item:hover .header-nav__btn{
    background-color: $blue;
}
