extends layout/app

block vars 
    - let title = 'Handfilters';
    - let navname = "Продукция";
    - let asideName = "Рукавные фильтры"
    - let bread = [ {"name": "Продукция","href": "products.html"},{"name":"Рукавные фильтры", "href":"handfilters.html"}];

block page
    include chunk/bread
    section.page
        .container
            .page__wrapper 
                include chunk/aside
                .pattern
                    h1.pattern__title= asideName
                    h2.pattern__subtitle.pattern-choose Как выбрать рукавный фильтр?
                    ul.pattern-choose__list
                        each item in text 
                            li.pattern-choose__item= item
                    h2.pattern__subtitle.pattern-examples Примеры использования фильтр-сумок 
                    ul.pattern-examples__list
                        each item in examples 
                            li.pattern-examples__item= item
                    h2.pattern-specs.pattern__subtitle Фильтр-сумки производства IFAB
                    ul.pattern-specs__list
                        each item in manufacture 
                            li.pattern-specs__item= item
    section.page-catalog
        .container 
            .page-catalog__title каталог фильтр-сумок
            ul.page-catalog__wrapper
                each item in handfilters 
                    +catalog(item.name, item.img, item.link)
    include chunk/additional
                     
                    