extends layout/app

block vars 
    - let title = 'Main';
    - let navname = "Главная";
    - let width = "762px";

block link
    link(rel="stylesheet",href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css")
    

block page
    section.info
        .container 
            .info__wrapper 
                h1.info__title Передовые технологии промышленной фильтрации
                p.info__text С 1960 года IFAB поставляет комплексные решения фильтрации для разных отраслей по всему миру
                button(type="button").info__btn Получить консультацию
                .info-card 
                    ul.info-card__list
                        each item in card 
                            +card(item.title,item.text,item.img) 
    include chunk/geo
    include chunk/companies
    section.catalog 
        .container 
            .catalog__title.title Каталог решений для Вашего производства
            ul.catalog__list 
                each item in catalog 
                    +catalog(item.name,item.img)
            .catalog-link        
                a(href="").catalog__link Посмотреть всю продукцию
    section.consult 
        .container
            .consult__wrapper 
                .swiper.mySwiper 
                    .swiper-wrapper
                        each item in consult 
                            +slide(item.title,item.img)
                    .swiper-pagination 
                .consult__form 
                    h1.consult__title Мы имеем опыт решения задач, связанных с фильтрацией и очисткой продуктов и сред на разных производствах
                    p.consult__subtitle Оставьте данные для заказа или получения консультации
                    include chunk/form
    include chunk/map
                    
                      


block scripts 
     script(src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js")
     script(src="https://api-maps.yandex.ru/2.1/?apikey=ваш API-ключ&lang=ru_RU", type="text/javascript")

                    

