extends layout/app

block vars 
    - let title = 'Main';

block link
    link(rel="stylesheet",href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css")
    

block page
    section.info
        .container 
            .info__wrapper 
                h1.info__title Передовые технологии промышленной фильтрации
                p.info__text С 1960 года IFAB поставляет комплексные решения фильтрации для разных отраслей по всему миру
                button(type="button").info__btn Получить консультацию
                .info-card 
                    ul.info-card__list
                        each item in card 
                            +card(item.title,item.text,item.img) 
    section.geo 
        .container
            .geo__title.title Наша география 
            .geo__wrapper
                img(src="/img/geo/map.png", alt="map").geo__img
                .geo-countries
                    h3.geo-countries__title География производителей и поставщиков реализуемой на нашем рынке продукции представлена:
                    ul.geo-countries__list
                        each item in geo
                            +geo(item.colour,item.country,item.store,item.link)
    section.companies
        .container 
            .companies__title.title Нам доверяют
            ul.companies__list
                each item in companies
                    +companies(item)
    section.catalog 
        .container 
            .catalog__title.title Каталог решений для Вашего производства
            ul.catalog__list 
                each item in catalog 
                    +catalog(item.name,item.img)
            .catalog-link        
                a(href="").catalog__link Посмотреть всю продукцию
    section.consult 
        .container
            .consult__wrapper 
                .swiper.mySwiper 
                    .swiper-wrapper
                        each item in consult 
                            +slide(item.title,item.img)
                    .swiper-pagination 
                .consult__form 
                    h1.consult__title Мы имеем опыт решения задач, связанных с фильтрацией и очисткой продуктов и сред на разных производствах
                    p.consult__subtitle Оставьте данные для заказа или получения консультации
                    include chunk/form
    section.contacts
        .container 
            .contacts-wrapper 
                .map 
                ul.contacts-list
                    li.contacts-list__item 
                        a(href="index.html").contacts-logo
                            img(src="/img/header/logo.png", alt="Logo").contacts-logo__img
                    each item in contacts  
                        +contacts(item.img, item.text, item.href)
                    
                      


block scripts 
     script(src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js")

                    

