extends layout/app

block vars 
    - let title = 'Products';
    - let navname = "Продукция";
    - let bread = [ {"name": "Продукция","href": "products.html"}];
       

block page
    include chunk/bread
    section.products
        .container
            .products__wrapper 
                include chunk/aside
                .products__inner
                    ul.products__list
                        each item in catalog
                            +products(item.name,item.img,item.link)   

                    
                      


