-
	link = [
		{
			"name": "Главная",
			"link": "#"
		},
		{
			"name": "Продукция",
			"link": "#"
		},
		{
			"name": "О нас",
			"link": "#"
		},
		{
			"name": "Контакты",
			"link": "#"
		}
	]
	card =[
		{
			"title": "Широкий ассортимент",
			"text": "У нас есть отработанные решения по подбору фильтрующих материалов и корпусов",
			"img": "12.jpg"
		},
		{
			"title": "Более 20 лет на рынке",
			"text": "Мы предложим лучшие решения для фильтрации, адаптированные к конкретным требованям",
			"img": "13.jpg"
		},
		{
			"title": "Склад и офис в Санкт-Петербурге",
			"text": "Правильно отработанная и выстроенная логистика, быстрые поставки заказов нашим клиентам",
			"img": "14.jpg"
		}
	]
	geo = [
		{
			"colour": "#9C73CC",
			"country": "Швеции",
			"store": "Skandinaviska IFAB Filtrering AB",
			"link": "www.Ifab.se"
		},
		{
			"colour": "#A6C36F",
			"country": "Польше",
			"store": "3A filters Poland",
			"link": "www.3afilter.eu/"
		},
		{
			"colour": "#E9BC19",
			"country": "Италии",
			"store": "SPADONI",
			"link": "www.spadoni.it"
		},
		{
			"colour": "#F87933",
			"country": "Японии",
			"store": "ROKI TECHNO",
			"link": "https://www.rokitechno.co.jp"
		},
		{
			"colour": "#54B5C9",
			"country": "России",
			"store": "офис и склад в Санкт-Петербурге",
			"link": "http://www.ifab.spb.ru/ "
		},
		{
			"colour": "#DD3E5A",
			"country": "Беларуси",
			"store": "офис в Минске",
			"link": ""
		},
		{
			"colour": "#3153CB",
			"country": "Латвии",
			"store": "офис в Риге",
			"link": ""
		}
	]
	
	companies = [
		"logo1.png","logo2.png","logo3.png","logo4.png","logo5.png","logo6.png","logo7.png","logo8.png","logo9.png","logo10.png","logo11.png","logo12.png"
	]

	catalog = [
		{
			"name": "Рукавные фильтры",
			"img": "1.png"
		},
		{
			"name": "Фильтр-картриджи",
			"img": "2.png"
		},
		{
			"name": "Корпусы",
			"img": "3.png"
		},
		{
			"name": "Фильтрующие картоны",
			"img": "4.png"
		},
		{
			"name": "Адсорбенты",
			"img": "5.png"
		}
	]

	consult = [
		{
			"title": "Пищевая промышленность",
			"img": "1.png"
		},
		{
			"title": "Электронная промышленность",
			"img": "2.png"
		},
		{
			"title": "Косметическая промышленность",
			"img": "3.png"
		},
		{
			"title": "Химическая промышленность",
			"img": "4.png"
		},
		{
			"title": "Автомобилестроение",
			"img": "5.png"
		},
		{
			"title": "Фармацевтическая промышленность",
			"img": "6.png"
		},
	]
	contacts = [
		{
			"img": "address.svg",
			"text": "г. Санкт-Петербург,  а/я 281 Ленинский пр., 151, оф.635"
		},
		{
			"img": "tel.svg",
			"text": "+7 812 375-99-69",
			"href": "tel:88123759969"
		},
		{
			"img": "mail.svg",
			"text": "ifab@ifab.spb.ru",
			"href":"mailto:ifab@ifab.spb.ru"
		},
		{
			"img": "time.svg",
			"text": "Пн-Пт: 9:00-20:00"
		}
	]