-
	link = [
		{
			"name": "Главная",
			"link": "index.html"
		},
		{
			"name": "Продукция",
			"link": "products.html"
		},
		{
			"name": "О нас",
			"link": "about.html"
		},
		{
			"name": "Контакты",
			"link": "contacts.html"
		}
	]
	card =[
		{
			"title": "Широкий ассортимент",
			"text": "У нас есть отработанные решения по подбору фильтрующих материалов и корпусов",
			"img": "12.jpg"
		},
		{
			"title": "Более 20 лет на рынке",
			"text": "Мы предложим лучшие решения для фильтрации, адаптированные к конкретным требованям",
			"img": "13.jpg"
		},
		{
			"title": "Склад и офис в Санкт-Петербурге",
			"text": "Правильно отработанная и выстроенная логистика, быстрые поставки заказов нашим клиентам",
			"img": "14.jpg"
		}
	]
	geo = [
		{
			"colour": "#9C73CC",
			"country": "Швеции",
			"store": "Skandinaviska IFAB Filtrering AB",
			"link": "www.Ifab.se"
		},
		{
			"colour": "#A6C36F",
			"country": "Польше",
			"store": "3A filters Poland",
			"link": "www.3afilter.eu/"
		},
		{
			"colour": "#E9BC19",
			"country": "Италии",
			"store": "SPADONI",
			"link": "www.spadoni.it"
		},
		{
			"colour": "#F87933",
			"country": "Японии",
			"store": "ROKI TECHNO",
			"link": "https://www.rokitechno.co.jp"
		},
		{
			"colour": "#54B5C9",
			"country": "России",
			"store": "офис и склад в Санкт-Петербурге",
			"link": "http://www.ifab.spb.ru/ "
		},
		{
			"colour": "#DD3E5A",
			"country": "Беларуси",
			"store": "офис в Минске",
			"link": ""
		},
		{
			"colour": "#3153CB",
			"country": "Латвии",
			"store": "офис в Риге",
			"link": ""
		}
	]
	
	companies = [
		"logo1.png","logo2.png","logo3.png","logo4.png","logo5.png","logo6.png","logo7.png","logo8.png","logo9.png","logo10.png","logo11.png","logo12.png"
	]

	catalog = [
		{
			"name": "Рукавные фильтры",
			"img": "1.png",
			"link": "handfilters.html"
		},
		{
			"name": "Фильтр-картриджи",
			"img": "2.png"
		},
		{
			"name": "Корпусы",
			"img": "3.png"
		},
		{
			"name": "Фильтрующие картоны",
			"img": "4.png"
		},
		{
			"name": "Адсорбенты",
			"img": "5.png"
		}
	]
	handfilters = [
		{
			"name": "Однослойные",
			"img": "../handfilters/1.png",
		},
		{
			"name": "Многослойные",
			"img": "../handfilters/2.png",
		},
		{
			"name": "С адсорбентом",
			"img": "../handfilters/3.png",
		},
		{
			"name": "Тонкая фильтрация",
			"img": "../handfilters/4.png",
		}
	]

	consult = [
		{
			"title": "Пищевая промышленность",
			"img": "1.png"
		},
		{
			"title": "Электронная промышленность",
			"img": "2.png"
		},
		{
			"title": "Косметическая промышленность",
			"img": "3.png"
		},
		{
			"title": "Химическая промышленность",
			"img": "4.png"
		},
		{
			"title": "Автомобилестроение",
			"img": "5.png"
		},
		{
			"title": "Фармацевтическая промышленность",
			"img": "6.png"
		},
	]
	contacts = [
		{
			"img": "address.svg",
			"text": "г. Санкт-Петербург,  а/я 281 Ленинский пр., 151, оф.635"
		},
		{
			"img": "tel.svg",
			"text": "+7 812 375-99-69",
			"href": "tel:88123759969"
		},
		{
			"img": "mail.svg",
			"text": "ifab@ifab.spb.ru",
			"href":"mailto:ifab@ifab.spb.ru"
		},
		{
			"img": "time.svg",
			"text": "Пн-Пт: 9:00-20:00"
		}
	]
	menu1 = [
		{
			"title": "Рукавные фильтры",
			"href": "handfilters.html",
			"subtitle": [
				{
					"name": "Однослойные",
					"href": "#"
				},
				{
					"name": "Многослойные",
					"href": "#"
				},
				{
					"name": "С адсорбентом",
					"href": "#"
				},
				{
					"name": "Тонкая фильтрация",
					"href": "#"
				}
			]
		},
		{
			"title": "Филтры-картриджи",
			"href": "#",
			"subtitle": [
				{
					"name": "Поверхностная фильтрация",
					"href": "#"
				},
				{
					"name": "Глубинная фильтрация",
					"href": "#"
				},
				{
					"name": "Адсорбирующие",
					"href": "#"
				}
			]
		},
			{
			"title": "Корпусы",
			"href": "#",
			"subtitle": [
				{
					"name": "Корпусы для ЭПФ",
					"href": "#"
				},
				{
					"name": "Корпусы для рукавных фильтров",
					"href": "#"
				}
			]
		},
	]
	menu2 =[
		{
			"title": "Фильтрующие картоны",
			"href": "#",
		},
		{
			"title": "Адсорбенты",
			"href": "#",
		}
	]
	about =[
		"автомобилестроение",
		"косметической",
		"пищевой",
		"электронной",
		"химической",
		"фармацевтической"
	]
	aside = [
		{
			"title": "Рукавные фильтры",
			"href": "handfilters.html",
			"subtitle": [
				{
					"name": "Однослойные",
					"href": "#"
				},
				{
					"name": "Многослойные",
					"href": "#"
				},
				{
					"name": "С адсорбентом",
					"href": "#"
				},
				{
					"name": "Тонкая фильтрация",
					"href": "#"
				}
			]
		},
	
		{
			"title": "Фильтры-картриджи",
			"href": "#",
			"subtitle": [
				{
					"name": "Поверхностная фильтрация",
					"href": "#"
				},
				{
					"name": "Глубинная фильтрация",
					"href": "#"
				},
				{
					"name": "Адсорбирующие",
					"href": "#"
				}
			]
		},
	
			{
			"title": "Корпусы",
			"href": "#",
			"subtitle": [
				{
					"name": "Корпусы для ЭПФ",
					"href": "#"
				},
				{
					"name": "Корпусы для рукавных фильтров",
					"href": "#"
				}
			]
		},
	
		{
			"title": "Фильтрующие картоны",
			"href": "#"
		},
	
		{
			"title": "Адсорбенты",
			"href": "#",
			"subtitle": [
				{
					"name": "Диатомит (Кизельгур)",
					"href": "#"
				},
				{
					"name": "Перлит",
					"href": "#"
				},
				{
					"name": "Уголь",
					"href": "#"
				}
			]
		}
	]

	text = [
		
			"Рукавный фильтр (фильтр-сумка) получил свое название из-за простой конструкции, по виду напоминающей глухой (зашитый) рукав или обычную узкую сумку. С английского языка Filter Bag буквально переводится как «фильтр-мешок».",
			"В зависимости от материала фильтр-сумки относятся к поверхностным или глубинным фильтрам. Полиамид, полиэстер, нейлон, полипропилен используются для изготовления поверхностных фильтрующих сумок, войлок с волокнами различной длины и толщины – для глубинных. Поверхностные фильтры рекомендуется подбирать для фильтрации сред, в которых загрязняющие твердые примеси и частицы не деформируются под давлением, т.е. способны удерживаться на поверхности материала.  Деформируемые примеси, например вязкая слизь, пройдет через поверхностный слой, как через сито.",
			"По количеству слоев материала фильтры IFAB представлены в виде однослойных и многослойных (3-4 слоя материла). В одной сумке могут совмещаться разные по назначению фильтрующие слои: предварительной и финишной фильтрации продукта, что позволяет экономить на корпусах и продлить срок службы фильтра.",
			"Фильтр-сумки с жесткой вставкой внутри из микрофибры и полипропилена относятся к глубинным фильтрам тонкой фильтрации с функцией адсорбции масел, а в комплекте с магнитной вставкой задерживают намагничиваемые частицы и примеси.",
			"Выбор рукавного фильтра зависит от температуры, вязкости, скорости потока, объема, типов загрязняющих частиц, совместимости материала фильтра с химическим составом фильтруемого продукта."
			
	]
	examples =[
		"фильтрация воды – перед установками обратного осмоса (10 – 100 мкм) для продления времени работоспособности мембран;",
		"фильтрация вина и пива – контрольная фильтрация после кизельгурового фильтра или фильтр-пресса для исключения попадания частиц кизельгура или фильтр-картона в фильтрат (1 – 5 мкм), что предотвращает образование нежелательного осадка в танках хранения; контрольная фильтрация напитка перед розливом;",
		"фильтрация сиропов, настоев, отваров, жидкостей с высокой вязкостью – удаление механических примесей, органических остатков; грубое, среднее и тонкое осветление (10 -50 мкм);",
		"фильтрация водки – полицейский фильтр после угольных и кварцевых колонн, а также после фильтр-картона."
	]
	manufacture= [
		"имеют широкий диапазон по микронному рейтингу 1-2000 мкм и абсолют-ный рейтинг фильтрации до 98 %;",
		"могут применяться на разных стадиях фильтрации для грубой и тонкой очистки: предфильтр для защиты мембранного фильтра или финишный фильтр;",
		"обеспечивают высокую скорость потока фильтруемого продукта;",
		"обладают высокой грязеемкостью;",
		"верхний предел рабочих температур в зависимости от материала cоставля-ет от 80 С до 160 С;",
		"обработаны специальным образом, чтобы волокна не отделялись от мате-риала;",
		"кольцо из нержавеющей стали входит в стандартную комплектацию, но мо-гут поставляться и с кольцом Quick-lock из полипропилена, полиэстера или полиамида для фильтрации без байпаса;",
		"специальная конструкция пластиковых верхних прижимных колец исключа-ет протечки фильтруемой жидкости;",
		"для фильтрации с рейтингом 1– 25 мкм производятся сумки с проплавлен-ным швом, что позволяет избежать протечек фильтруемой жидкости в отверстия от игл и нитей, используемых для стандартных сумок;",
		"сертифицированы в соответствии с требованиями стандартов для пищевой и фармацевтической промышленности;",
		"доступны во всех стандартных размерах и могут быть изготовлены по индивидуальному заказу."
	]