section.additional-info
        .container 
            h2.additional-info__title Нужна дополнительная информация?
            p.additional-info__text Заполните форму для заказа или получения информации, нажав на кнопку Получить консультацию!
            .additional-info__button
                a(href="contacts.html").additional-info__btn Получить консультацию 