section.geo 
        .container
            .geo__title.title Наша география 
            .geo__wrapper
                .geo__image
                    img(src="img/geo/map.png", alt="map").geo__img
                .geo-countries
                    h3.geo-countries__title География производителей и поставщиков реализуемой на нашем рынке продукции представлена:
                    ul.geo-countries__list
                        each item in geo
                            +geo(item.colour,item.country,item.store,item.link)